@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.work1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../views/background_main.jpg") no-repeat center center/cover;
    position: relative;
}

.work2 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: logorotation 4s infinite alternate;
}

.text1 {
    text-align: center;
    color: azure;
    margin-top: 20px;
    font-size: 2.5rem;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5); /* Optional shadow */
    -webkit-text-stroke: 1px black; /* Black border around the text */
}

.work5 {
    width: 75%;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #444;
    text-shadow: 1px 1px 2px white;
}

.welcome-message {
    color: #28ee3c;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.button-group {
    margin-top: 20px;
}

button {
    width: 150px;
    padding: 10px 0;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #2bff00;
    text-align: center;
    background: transparent;
    color: #000;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease, border-color 0.3s ease;
}

button span {
    background: white;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    z-index: -1;
    transition: width 0.4s ease;
}

button:hover span {
    width: 100%;
}

button:hover {
    color: #fff;
    border-color: #0cf; /* Changes border color on hover */
    background-color: #000;
}

button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #0cf;
    border-radius: 25px;
    z-index: -2;
    transition: width 0.3s ease;
}

button:hover:before {
    width: 100%; /* Expands background color */
}


@keyframes logorotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
