@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.work1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../views/back.webp") no-repeat center center/cover;
    position: relative;
}

.work2 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: logorotation 4s infinite alternate;
}

.text1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #f0f0f0; /* A professional dark blue shade */
    text-align: center;
    margin-top: 20px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    letter-spacing: 1px;
}

.work5 {
    width: 75%;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #B0B0B0;
    text-shadow: 1px 1px 2px white;
}

.welcome-message {
    color: #28ee3c;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.button-group {
    margin-top: 20px;
}

button {
    width: 150px;
    padding: 10px 0;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #fff;
    text-align: center;
    background: transparent;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease, border-color 0.3s ease;
}

button span {
    background: white;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    z-index: -1;
    transition: width 0.4s ease;
}

button:hover span {
    width: 100%;
}

button:hover {
    color: #0ff;
    border-color: #0ff; /* Changes border color on hover */
    
}

button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #0cf;
    border-radius: 25px;
    z-index: -2;
    transition: width 0.3s ease;
}

button:hover:before {
    width: 100%; /* Expands background color */
}


@keyframes logorotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
